*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Gotham Rounded, san-serif;
  font-weight: normal;
}
body {
  padding:0;
  margin:0;
  background: linear-gradient(to right, 
    #00AAFF, #00FF6C);
}
.calculator-grid {
  display:grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(4, 100px);
  border-radius: 5px;
}

.calculator-grid > button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid black;
  outline: none;
  background color:rgba(255, 255, 255, .75);
  border-radius: 5px;
}

.calculator-grid > button:hover {
  background-color: rgba(200, 220, 180, .90);
}
.calculate {
  min-height: 3em;
  background-color: darkorange;
}

.output {
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, .75);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
  border-radius: 5px;

}
.output .current-input {
  color;white;
  font-size:3.5rem;
}
.output .previous-input {
  color:rgba(255, 255, 255, .75);
  font-size: 2rem;
}



/*to be sincere;  Festus it wasnt easy */